*{
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%;*/
}

body{
    background-image: linear-gradient(to left, #024959, #05F2F2)
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #024959;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#F20505;
    text-align: center;
    text-shadow: 1px 1px 2px #F20505;
}

h2{
    color: #F2B705;
}

p{
    text-align: justify;
}
